- if @brand_models.blank?
  == $('.js-models').css({'display':'none'})
- else
  == var $element = $("#{j render('phones/form_models_for_select_ajax')}");
  == $('.js-models-label').slideDown();
  == $('#model').empty().append($element).slideDown();
